* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
a {
  font-family: sans-serif;
}
.tracklost {
  /* background-color: aqua; */
  display: flex;
  margin-left: 10%;
}
body {
  line-height: 1.5;
  font-family: sans-serif;
  background-color: #f8f7fd;
}
nav {
  padding: 0 1rem;
  display: flex;
  margin-top: 1rem;
}
.menu {
  display: none;
}
.logo {
  /* background-color: aqua; */
  width: 2rem;
  height: 2rem;
  /* margin-right: auto; */
  /* display: flex; */
}
.bar {
  margin-left: 10%;
}
.logo img {
  width: 3rem;
  height: 3rem;
  border-radius: 10rem;
}
section {
  display: flex;
  flex-direction: column;
  margin-top: 2rem;
  justify-content: center;
  gap: 3rem;
  align-items: center;
}
.advertise,
.docs,
.trainings,
.footer {
  background-color: #d9d9d9;
  height: 35rem;
  width: 28rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 3rem;
}
/* .docs,
.trainings {
  gap: 1rem;
} */

.advert,
.documents,
.train {
  background-color: #d9d9d9;
  height: 28rem;
  width: 23rem;
  border-radius: 5px;
  border: solid 2px white;
  justify-content: center;
}
.documents img,
.train video {
  width: 22rem;
  height: 22rem;
}
.documents button,
.train button,
.advert button {
  background-color: #7984e3;
  width: 80%;
  height: 15%;
  border: none;
  border-radius: 4%;
}
/* .train h1,
.documents h1,
.advert h1 {
  margin-top: 2rem;
} */
.train #start {
  margin-top: -40rem;
}

.advert img {
  width: 22rem;
  height: 22rem;
  /* margin-top: 1rem; */
  /* justify-items: center; */
}

/* .advert button {
  background-color: #7984e3;
  width: 70%;
  height: 25%;
  border: none;
  border-radius: 5%;
} */

.advert a,
.advert i,
.documents a,
.documents i,
.train a,
.train i {
  color: white;
  text-align: center;
  text-decoration: none;
  font-size: 250%;
}
footer {
  padding: 0 1rem;
  display: flex;
  background-color: #7984e3;
  margin-top: 3rem;
  /* font-size: 12px; */
  color: white;
  /* flex-direction: column; */
  gap: 5rem;
  height: 28rem;
  font-size: 180%;
}

.copyright {
  margin-top: 22rem;
  display: flex;
  margin-left: -30rem;
  /* font-size: 0.9rem; */
}
. @media (min-width: 1024px) {
}
