* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
a {
  font-family: sans-serif;
}
body {
  line-height: 1.5;
  font-family: sans-serif;
  background-color: #f8f7fd;
}
nav {
  padding: 0 1rem;
  display: flex;
  margin-top: 1rem;
}
.menu {
  display: none;
}
.logo {
  /* background-color: aqua; */
  width: 2rem;
  height: 2rem;
  margin-right: auto;
  /* display: flex; */
}
.bar {
  margin-left: 30%;
}
.logo img {
  width: 3rem;
  height: 3rem;
  border-radius: 10rem;
}
section {
  display: flex;
  flex-direction: column;
  margin-top: 2rem;
  justify-content: center;
  gap: 2rem;
}
.advertise,
.docs,
.trainings,
.footer {
  background-color: #d9d9d9;
  height: 14rem;
  width: 11rem;
  display: flex;
  flex-direction: column;

  align-items: center;
  text-align: center;
  gap: 3rem;
}
.docs,
.trainings {
  gap: 1rem;
}

.advert,
.documents,
.train {
  background-color: #d9d9d9;
  height: 17rem;
  width: 8rem;
  border-radius: 5px;
  border: solid 2px #7984e3;
  justify-content: center;
}
.documents img,
.train video {
  width: 7.5rem;
  height: 7rem;
}
.documents button,
.train button {
  background-color: #7984e3;
  width: 80%;
  height: 25%;
  border: none;
  border-radius: 5%;
}
.train #start {
  margin-top: -40rem;
}
.documents i,
.train i {
  color: white;
  /* margin-left: auto; */
}
.advert img {
  width: 6rem;
  height: 8rem;
  margin-top: -3rem;
  /* justify-items: center; */
}

.advert button {
  background-color: #7984e3;
  width: 70%;
  height: 25%;
  border: none;
  border-radius: 5%;
}

.advert a,
.documents a,
.train a {
  color: white;
  text-align: center;
  text-decoration: none;
}
footer {
  padding: 0 1rem;
  display: flex;
  background-color: #7984e3;
  margin-top: 3rem;
  /* font-size: 12px; */
  color: white;
  /* flex-direction: column; */
  gap: 2rem;
}
.follow p,
.partners p {
  font-size: 12px;
}
.copyright {
  margin-top: 10rem;
  display: flex;
  margin-left: -12rem;
  font-size: 0.9rem;
}
. @media (min-width: 1024px) {
}
